*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    
}

header{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main{
    overflow-x: hidden;;
}

main::-webkit-scrollbar{
    display: none;
}

body{
    width: auto;
    height: auto;
}

nav ul li{
    margin-left: 0.3rem;    
}

nav ul li:first-child{
    margin-right: 1rem;
}






.sub-prop{
    margin-left: 1rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 93, 29);
    border-radius: 2rem;
    padding: 0px 20px;
    
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 93, 29);
    background-color: white;
}


img{
    object-fit: cover;
}

.card-title{
    color: orange;
}

.sec-2{
    width: 90vw;
    height: 80vh;
    display: flex;
    margin: auto;
    padding: 2rem;
    /* background-color: black; */
}

.crd-tit-one{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    /* text-align: center; */
    margin-top: 5rem;
}

.loc{
    width: 100%;
    display: inline-flex;
    margin-left: -5px;
    
}

.md-48{
   font-size: 20px !important;
}

.text-loc{
    font-size: 0.9rem;
}


/* card-mid-section css */
.card-mid-sec{
    width: 70%;
    display: inline-flex;
    justify-content: space-between;
}

.card-sec-1 , .card-sec-2{
    display: flex;
    flex-direction: column;
    line-height: 0.4rem;
}

.area{
    font-size: 0.8rem;
    font-weight: 500;
}
.square{
    font-size: 0.8rem;
    font-weight: 400;
}

.see{
    width: 100%;
    height: 20%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    font-weight: 500;
    font-family: 'ubuntu', sans-serif;
    color: white;
    text-transform: uppercase;
    background: -webkit-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
background: -o-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
background: -ms-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
background: -moz-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
background: linear-gradient(to right, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);

}

.price{
    width: 13rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -o-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -ms-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -moz-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: linear-gradient(to right, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    color: white;
    position: absolute;
    top: 44%;
    left: 4%;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 3px;
}
.featured{
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -o-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -ms-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -moz-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: linear-gradient(to right, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    color: white;
    position: absolute;
    top: 2%;
    left: 4%;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 3px;
    text-transform: uppercase;
}



.sec-3{
    /* box-sizing: border-box; */
    width: 100vw;
    height: 100vh;
    
}

.sec-one-main{
    box-sizing: border-box;
    min-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -4rem;
    

}
.sec-4{
    width: 100%;
    height: 100vh;
   
}

.sec-two-main{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1{
    position: relative;
    top: -3rem;
    width: 100%;
    
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

}
.container2{
    position: relative;
    top: 8rem;
    width: 90%;
    
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.crd-tit-two{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    /* margin-top: -2rem; */
    font-size: 2.3rem;
    color: rgb(231, 181, 0);
    position: relative;
    top: -5rem;

    /* color: white; */

}

.exex{
    
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    /* margin-top: -2rem; */
    font-size: 2.5vw;
    color: rgb(231, 181, 0);
    /* position: relative;
    top: 6rem */
}

.txt{
    width: 40vw;
    text-align: justify;
    color:#c0a32e;
}

.ready{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    border: 2px solid gold;
    border-radius: 5px;
    color: white;
    background-color:rgb(231, 181, 0);
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
}

.waves{
    /* height: 17rem; */
    /* margin-top: 1rem; */
    position: relative;
    top: 1rem;
    /* background-color: beige; */
}

.imgleft{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.imgright{
    width: auto;
    object-fit:contain;
}

/* #Navbar {
    background: -webkit-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -o-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -ms-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -moz-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: linear-gradient(to right, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    
} */
#navElements {
    background: -webkit-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -o-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -ms-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: -moz-linear-gradient(left, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    background: linear-gradient(to right, rgb(225, 188, 128) 0%, rgb(200, 151, 70) 78%, rgb(199, 151, 72) 100%);
    box-shadow:  black;
    
}

#panel1, #panel2 {
    background-color: aqua;
    text-align: center;
    margin-bottom: 2rem;
}

.pmHead, .psHead {
    /* margin-bottom:3rem; */
    padding-bottom: 5rem;
    color:rgb(99 21 96);

}
.column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.centered-container {
text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-row {
    display: flex;
    flex-direction: row;
    justify-content: between;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 2rem;
}

.area1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:medium;
}

.area2{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    font-size:small;
}
.container-row {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    border-radius: 1rem;
}

@media only screen and (max-width: 768px){
    .featured{
        width:10rem;
        height: 2.5rem;
        font-size:small;
        padding: 1rem;
    }
    .txt{
        display: flex;
        width: 80vw;
    }
    .card {
        margin: 4rem;
    }
}

@media only screen and (max-width: 1130px){
    .square{
        background-color: aquamarine;
        height: 2rem;
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 1200px){
    .pmHead {
        padding-top: 4rem;
    }
    .txt{
        display: flex;
        width: 70vw;
    }
}